div
	script(type='text/javascript', src='/javascripts/prettyprint.js')
	script(type='text/javascript', src='/javascripts/jquery.js')
	script
		$(function() {
			var lastData;
			var fullView=false;
			var refresh=function(noRepeat) {
				$.ajax({
					url: "/admin/data",
					type: "POST",
					dataType: 'json',
					data: {fullView: fullView},
					success: function(data) {
						if(lastData!==data) {
							var table = prettyPrint(data,{maxArray:999,expanded:true,maxDepth:5});
							$('#dump').html(table);
							lastData=data;
						}
					}
				});
				if(!noRepeat)
					setTimeout(refresh,1000);
			};
			refresh();
			$('#view-compact').click(function() { fullView=false; $('#dump').html(''); refresh(true); return false; });
			$('#view-full').click(function() { fullView=true; $('#dump').html(''); refresh(true); return false; });
		});
	div(id="menu") View as: 
		a(id="view-compact",href="#") Compact
		&nbsp;|&nbsp;
		a(id="view-full",href="#") Full
	div(id="dump",style="padding-top: 10px;") Loading...